h1{
    font-size: 1.8rem;
}
nav a{
    font-size: 0.7rem;
}
nav ul{
    flex-wrap: wrap;
    gap: 0.5rem;
}
footer p{
    font-size: 0.8rem;
}
.educationContainer{
    display: grid;
    grid-template-columns: 1fr; 
    gap: 3rem;
}
h2{
    font-size: 1.2rem;  
}
p{
    font-size: 0.9rem;
   
}